/* CSS for website */
/*
.markdown-section h1 {
    color: #888 !important;
}
.book-summary {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff !important;
    background: #00a0e2;
}
*/
nav a.custom-link, nav ul.summary li.divider, .gitbook-link {display: none !important}

ul.summary li.chapter a {font-weight: bold; text-transform: uppercase;}